<%= form_with(model: @users) do |f| %>      
  <div class="field">
    <% f.label :first_name %><br />
    <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, autocomplete: "First Name" %>
  </div>
  
  <div class="field">
    <% f.label :last_name %><br />
    <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true, autocomplete: "First Name" %>
  </div>

  <div class="field">
    <% f.label :email %><br />
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <% f.label :password %>
    <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "new-password" %>
  </div>

  <div class="field actions">
    <%= f.submit %>
  </div>
<% end %>